/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    padding: 8px;
    overflow-x: hidden;
    background-color: white;
}

div {
    padding: 2px;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}
  
.section-header h2 {
    margin: 0;
}
  

.header {
    background-color: rgb(237, 237, 237);
    padding: 20px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* To allow precise positioning within the header */
}

.header h1 {
    margin: 0;
    color: #020202;
}

.logo img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 20%;
    position: absolute; /* Ensures it is fixed to the top-left */
    left: 20px; /* Adjust spacing from the left */
    top: 50%; /* Center vertically relative to the header */
    transform: translateY(-50%); /* Offset by 50% of its height */
  }

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
  }  

.container {
background-color: rgb(255, 255, 255);
padding: 5px 20px 15px 20px;
border: 3px solid lightgrey;
border-radius: 20px; 
margin: 20px auto;
}

.centered {
    text-align: center; /* Centers the text horizontally */
}

.column {
    float: left;
    padding: 30px;
}

.column.main{
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
}

.column.side{
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
}

.column.half{
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

input[type=text]:focus{
    width: 100%;
    padding: 2px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 3px solid #555;
}

label {
    margin-bottom: 10px;
    display: block;
  }

hr {
    border: 1px solid rgb(69, 69, 69);
}

span.price {
    float: right;
    color: blue;
  }

.finish-payment-btn {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.finish-payment-btn:hover {
    background-color: #218838; /* Darker green on hover */
}

.section-header {
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff; /* Keep the background fixed */
    border-bottom: 1px solid #ccc;
    transition: color 0.3s ease; /* Smooth transition for text color */
    color: inherit; /* Default text color */
}

.section-header:hover {
    color: #d35400; /* Dark orange on hover */
    background-color: #ffffff; /* Prevent background color change */
}

.section-header.active {
    color: #d35400; /* Orange when selected */
}