* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    color: #333;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #adadad;
    outline: none;
    background: transparent;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    color: #adadad;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #9b59b6;
    font-size: 0.8rem;
}

.input-box input[type="submit"] {
    width: 100%;
    background: #9b59b6;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.3s;
}

.input-box input[type="submit"]:hover {
    background: #71b7e6;
}


.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #9b59b6;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password a:hover {
    color: #71b7e6;
}
