/* Ensure full height for the root and body elements */
html, body {
    height: 100%; /* Make the page take up the full viewport height */
    margin: 0;    /* Remove default margin */
}

#root {
    height: 100%; /* Ensure the app container also takes full height */
    display: flex;
    flex-direction: column; /* Allow the content to expand and fill the space */
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

.discount-badge-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1; /* Ensure it appears above other card elements */
    opacity: 1; /* Always visible */
    transition: transform 0.3s; /* Optional: Add animation when hovering the heart icon */
}

.custom-chip {
    background-color: red; /* Tailwind red-500 */
    color: white;
    font-weight: bold;
}
/* Ensure the wishlist icon is always visible */
.wishlist-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1; /* Ensure it appears above other card elements */
    opacity: 1; /* Always visible */
    transition: transform 0.3s; /* Optional: Add animation when hovering the heart icon */
}



/* Style the heart icon */
.wishlist-icon-container .MuiIconButton-root {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.wishlist-icon-container .MuiIconButton-root:hover {
    background-color: rgba(255, 0, 0, 0.8);
    color: #fff;
    transform: scale(1.1);
}


/* Category Dropdown */
.category-dropdown {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.category-dropdown button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.category-dropdown .first-button::after {
    content: "▼";
    font-size: 0.8em;
}

.category-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 900px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    gap: 10px;
    justify-content: space-around;
}

.category-dropdown:hover .category-dropdown-content {
    display: flex;
}

/* Sort By Dropdown */
.sort-by-dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.sort-by-button {
    background-color: #f3a847;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sort-by-button:hover {
    background-color: #ec9c33;
}

.sort-options {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
    min-width: 120px;
}

.sort-by-dropdown:hover .sort-options {
    display: block;
}

.sort-options div {
    padding: 10px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s;
}

.sort-options div:hover {
    background-color: #f3a847;
    color: white;
}

/* Category Cards */
.category-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-decoration: none;
    color: inherit;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 5px;
}

.category-card p {
    font-size: 0.9em;
    margin: 0;
    color: #333;
}

/* Search Bar */
.search-bar-container {
    display: flex;
    align-items: center;
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.back-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1em;
}

.search-button {
    background-color: #f3a847;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #ec9c33;
}

.search-button .icon {
    font-size: 1.2em;
}

.add-to-cart-button.disabled {
    background-color: gray;
    color: #ffffff;
    cursor: not-allowed;
    pointer-events: none; /* Ensures the button is fully non-interactive */
    opacity: 0.6; /* Optional: dim the button for a disabled look */
}

/* Cart Panel Styles */
.cart-panel {
    position: fixed;
    top: 80px; /* Adjusted for AppBar height */
    right: 0;
    width: 300px;
    height: calc(100% - 80px);
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

/* Quantity Control Buttons */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Comments Section */
.comments-section {
    margin-top: 40px;
}

.add-comment-button {
    padding: 10px 20px;
    font-size: 1em;
    margin-bottom: 20px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.comments-pagination {
    margin-top: 20px;
}

.comment-form {
    margin-top: 20px;
}

.comment-form label {
    display: block;
    margin-top: 10px;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
}

.comment-form select {
    width: 100%;
    padding: 5px;
}

.cart-item-details p {
    margin: 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-btn {
    background-color: #f3a847;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.quantity-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-btn:hover:enabled {
    background-color: #ec9c33;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

.close-cart {
    align-self: flex-end;
    background-color: #721c24;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.close-cart:hover {
    background-color: #a94442;
}

.cart-panel ul {
    list-style: none;
    padding: 0;
}

.cart-panel li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

/* Checkout Button */
.checkout-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
}

.checkout-btn:hover {
    background-color: #218838;
}

.cart-panel h3 {
    margin: 10px 0;
}

/* Carousel Styling */
.carousel.slide {
    margin-top: 73px; /* Adjust this to match navbar height */
}

.carousel-item {
    height: 80vh;
    min-height: 300px;
}

.carousel-item img {
    background-size: cover;
}

.carousel-caption {
    max-width: 80%; /* Optional: limit the caption width */
    bottom: 20%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border: 5px solid #f3a847; /* Border color */
    text-align: center; /* Center-align text */
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1.7px;
}

.carousel-caption p {
    width: 100%;
    margin: auto;
    font-size: 30px;
}

/* Popular Section */
.section {
    padding: 50px 20px;
    text-align: center;
}

#popular-section {
    background-color: #f9f9f9;
}

/* Footer */
.footer {
    padding-block: 1rem;
    background-color: #151823; /* Matching color */
    color: #666873;
}

.footer-container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}

.footer-title {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-list-item {
    list-style: none;
}

.footer-list-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s;
}

.footer-list-link:hover {
    color: #fff;
}

.footer-divider {
    margin-block: 2.5rem;
    border: none;
    border-top: 1px solid rgba(252, 255, 255, 0.1);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-bottom .footer-list {
    flex-direction: row;
}

i {
    font-size: 2.4rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar .nav-items, .navbar .cart, .navbar .login {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .search-bar-container {
        width: 100%;
    }
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product-card {

    
    position: relative; /* Reference point for absolute positioning */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: contain; /* Ensures image fits without being cropped */
    max-height: 150px; /* Restricts height for a consistent card layout */
    margin-bottom: 10px;
}

.product-name {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

.add-to-cart-button {
    background-color: #f3a847;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.add-to-cart-button:hover {
    color: #fff;
    background-color: #ec9c33;
    text-decoration: none; /* Ensure underline is not added on hover */
}

/* Additional Styles for Price and Rating */
.product-price {
    font-size: 1.2em;
    color: #333;
    margin: 5px 0;
}

.product-rating{
    margin-bottom: 10px;
}

.product-rating span {
    font-size: 1em;
    color: #ffcc00; /* Gold color for stars */
}

/* Product Details */
.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.product-details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    gap: 20px; /* Space between image and info */
}

.product-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    flex: 1;
    padding-left: 20px;
}

.product-description {
    margin-top: 10px;
}

.product-rating-detail {
    margin-top: 10px;
    font-size: 1.2em;
}

.average-rating {
    margin-left: 10px;
    font-weight: bold;
}

.product-price-detail {
    margin-top: 10px;
    font-size: 1.5em;
    color: green;
}

.product-stock {
    margin-top: 10px;
    font-size: 1em;
}

.add-to-cart-button-detail {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #f3a847;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-button-detail:hover {
    background-color: #ec9c33;
}

/* Back to Top Button Styling */
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:rgba(0, 0, 0, 0.4); /* Dark background color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%; /* Makes it circular */
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
    display: none; /* Hidden by default */
    z-index: 1000;
}

#backToTopBtn:hover {
    background-color: #155a7e; /* Darker blue on hover */
    transform: translateY(-3px); /* Slight lift on hover */
}

#backToTopBtn i {
    font-size: 1.2em;
}

/* Pagination Controls */
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-controls button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}

.pagination-controls span {
    font-size: 16px;
}

/* Hero Section */
.hero-section {
    position: relative;
    width: 100vw;
    height: calc(100vh - 80px); /* Subtract the navbar height */
    margin-top: 0; /* Removed extra margin */
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the section */
    object-position: center;
}

.hero-caption {
    width: 90%;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #f3a847; /* Add a border with your desired color */
}

.hero-caption h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add shadow for readability */
}

.hero-caption p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

/* Stock Warning */
.stock-warning {
    margin-top: 5px;
    padding: 10px;
    background-color: #ffcccb; /* Light red background */
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Adjusted existing button styles to accommodate MUI Buttons if needed */
.add-comment-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.add-comment-button {
    background-color: #f3a847;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-comment-button:hover:not(:disabled) {
    background-color: #ec9c33;
}

/* Responsive Design Adjustments */
@media (max-width: 1024px) {
    .product-details-container {
        flex-direction: column;
    }

    .product-info {
        padding-left: 0;
    }

    .search-bar-container {
        width: 100%;
    }

    .hero-caption h1 {
        font-size: 2rem;
    }

    .hero-caption p {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .search-bar-container {
        width: 100%;
    }
    .hero-caption h1 {
        font-size: 1.5rem;
    }
    .hero-caption p {
        font-size: 1rem;
    }
}
